@font-face {
    font-family: fontGame;
    src: url("../assets//Pony.ttf");
}

.gameOanTuXi{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../assets/bgGame.png");
    background-size: cover;
    font-family: fontGame;
}
.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	
}

.theThink{
    border: 4px solid springgreen;
    width: 150px;
    height: 100px;
    position: relative;
    left: 150px;
    background: #fff;
    border-radius: 10px;
}

.text__result{
    font-size: 25px;
    
}

.btnItem{
    width: 50px;
    height: 50px;
}
button:focus {outline: none}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

